.input-container {
  position: relative;
}

.base-input{
  width: 100%;
  height: 40px;
  border: 1px solid $secondary-100;
  border-radius: 8px;
  font-size: 14px;
  padding: 10px 0 10px 16px;
  background-color: $secondary-100;
  color: $light-grey;
}
.input-left-icon+.base-input {
  padding-left: 30px;
}
.input-right-icon>.base-input {
  padding-right: 30px;
}
.base-input:focus{
  outline: none;
  border: 1px solid $secondary-200;
}
.input-left-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
}
.input-right-icon {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-5px, -50%);
}


