<script lang="ts" setup>
import { setLocale } from 'yup'

const { t } = useI18n()

onBeforeMount(() => {
  setLocale({
    mixed: {
      default: t('invalid_field'),
      required: t('required_field'),
    },
    string: {
      email: t('invalid_email'),
      min: ({ min }) => t('field_too_short', { min }),
      max: ({ max }) => t('field_too_long', { max }),
    },
  })
})
</script>

<template>
  <nuxt-layout>
    <nuxt-page />
  </nuxt-layout>
</template>
