$primary: #fb973b;
$secondary-100: #3b3e52;
$secondary-200: #4d526e;
$secondary-300: #4f5472;
$secondary-400: #5f6796;
$secondary-500: #6d769b;
$secondary-600: #778bd1;

$background: #2a2c36;
$alert-error: #c74e3e;
$alert-success: #10B981;
$disabled-color: #9297ae;

$black: #282626;
$grey: #585c6d;
$light-grey: #9aa0a7;
$white: #f5f5f5;

$text-blur-color: #9aa0a7;
