.vacp-color-picker{
  --vacp-color: hsl(calc(var(--vacp-hsl-h)*360) calc(var(--vacp-hsl-s)*100%) calc(var(--vacp-hsl-l)*100%)/var(--vacp-hsl-a));
  width: 264px;
  height: 271px;
  border-radius: 8px;
  background-color: #FFFFFF;
  overflow: hidden;
  box-shadow: 0px 5px 5px -3px rgba(0,0,0,.2), 0px 8px 10px 1px rgba(0,0,0,.14), 0px 3px 14px 2px rgba(0,0,0,.12);
  font-family: "Noto Sans", "Inter", sans-serif;

  .vacp-color-space{
    width: 264px;
    height: calc(264px*.6);

    .vacp-color-space-thumb{
      width: 15px;
      height: 15px;
      border: 2px solid #F5F5F5;
      border-radius: 25px;
    }
  }
  input[type=range] {
    -webkit-appearance: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border: 3px solid #FFFFFF;
    border-radius: 25px;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .vacp-range-input-group{
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    .vacp-range-input-label{
      margin-top: 2px;
    }

    .vacp-range-input{
      width: 100%;
      height: 8px;
      cursor: pointer;
      outline: none;
      border-radius: 16px;
      -webkit-appearance: none;
      appearance: none;
    }

    .vacp-range-input--hue{
      background: linear-gradient(to right, #F00, #FF0, #0F0, #0FF, #00F, #F0F, #F00);
    }
    .vacp-range-input--alpha{
      background: linear-gradient(90deg, transparent, var(--vacp-color)), url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%2710%27 height=%2710%27 viewBox=%270 0 20 20%27><path fill=%27%23d1d3d4%27 d=%27M0 0h10v10H0Z%27/><path fill=%27%23fff%27 d=%27M0 10h10v10H0Z%27/><path fill=%27%23d1d3d4%27 d=%27M10 10h10v10H10Z%27/><path fill=%27%23fff%27 d=%27M10 0h10v10H10Z%27/></svg>");
    }
  }

  .vacp-copy-button{
    display: none;
  }

  .vacp-color-input-group{
    margin-top: 16px;
    .vacp-color-input-label{
      padding: 0 16px;
      .vacp-color-input-label-text{
        padding: 4px 23px 4px 6px;
        border: 1px solid #E5E7EB;
        box-sizing: border-box;
        text-align: center;
        font-size: 14px;
        border-radius: 4px;
        font-weight: 400;
      }

      .vacp-color-input{
        width: 89px;
        margin-left: 8px;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid #E5E7EB;
        border-radius: 4px;
        text-align: center;
        padding: 3px 0;
      }
    }
  }
}
