<script lang="ts" setup>
interface IProps {
  visible?: boolean
}

const props = defineProps<IProps>()
const isVisible = ref<boolean>(!!props.visible)
</script>

<template>
  <section>
    <header @click="() => isVisible = !isVisible">
      <slot name="title" />
      <div v-if="!isVisible" class="arrow-down" />
      <div v-else class="arrow-up" />
    </header>
    <transition v-if="isVisible">
      <div>
        <slot name="content" />
      </div>
    </transition>
  </section>
</template>

<style lang="scss" scoped>
</style>
