<script setup lang="ts">
import VueDatePicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

interface IProps {
  timeRange: Array<string>
}
interface IEmits {
  (e: 'update', value: Array<string>): void
}

const props = defineProps<IProps>()
const emits = defineEmits<IEmits>()

const range = ref(props.timeRange)
const customPosition = () => ({ top: 50, left: 0 })

watch(range, (newVal: Array<string>) => {
  emits('update', newVal)
})
</script>

<template>
  <vue-date-picker
    v-model="range"
    class="customDatePicker"
    range
    position="left"
    :enable-time-picker="false"
    :placeholder="$t('ms_01_ph_se_time')"
    auto-apply
    :hide-navigation="['month', 'year']"
    :alt-position="customPosition"
    format="yyyy/MM/dd"
    :year-range="[1950, new Date().getFullYear()]"
    :month-change-on-scroll="false"
  >
    <template #input-icon>
      <img
        class="dp__icon dp__input_icon dp__input_icons"
        src="~/assets/v1/icons/calendar.svg"
        alt="date-picker-icon"
      >
    </template>
  </vue-date-picker>
</template>

<style lang="css">
:root {
    /*General*/
    --dp-font-family: Noto Sans;
    --dp-border-radius: 8px; /*Configurable border-radius*/
    --dp-cell-border-radius: 10px; /*Specific border radius for the calendar cell*/
    --dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/

    /*Sizing*/
    --dp-button-heigh: 40px; /*Size for buttons in overlays*/
    --dp-month-year-row-height: 40px; /*Height of the month-year select row*/
    --dp-month-year-row-button-size: 40px; /*Specific height for the next/previous buttons*/
    --dp-button-icon-height: 20px; /*Icon sizing in buttons*/
    --dp-cell-size: 40px; /*Width and height of calendar cell*/
    --dp-cell-padding: 0px; /*Padding in the cell*/
    --dp-common-padding: 10px; /*Common padding used*/
    --dp-input-icon-padding: 35px; /*Padding on the left side of the input if icons is present*/
    --dp-input-padding: 10px 18px; /*Padding in the input*/
    --dp-menu-min-width: 354px; /*Adjust the min width of the menu*/
    --dp-row-maring: 0; /*Adjust the spacing between rows in the calendar*/
    --dp-calendar-header-cell-padding: 0px; /*Adjust padding in calendar header cells*/
    --dp-menu-padding: 24px 36px; /*Menu padding*/

    /*Font sizes*/
    --dp-font-size: 13px; /*Default font-size*/
    --dp-preview-font-size: 14px; /*Font size of the date preview in the action row*/
}
.dp__theme_light {
    --dp-background-color: #3b3e52;
    --dp-text-color: #f5f5f5;
    --dp-hover-color: rgba(154, 160, 167, 0.8);
    --dp-hover-text-color: #f5f5f5;
    --dp-hover-icon-color: #f5f5f5;
    --dp-primary-color: #fb973b;
    --dp-primary-text-color: #3b3e52;
    --dp-secondary-color: #858793;
    --dp-border-color: #3b3e52;
    --dp-menu-border-color: 1 solid #3b3e52;
    --dp-border-color-hover: #3b3e52;
    --dp-scroll-bar-background: #4f5472;
    --dp-scroll-bar-color: #7981a0;
    --dp-icon-color: #f5f5f5;
    --dp-danger-color: #fb973b;
    --dp-highlight-color: rgba(25, 118, 210, 0.1);
}

.dp__input_wrap {
    width: 252px;
    @media (min-width: 1440px) {
        width: 264px;
    }
}
.dp__input {
    background-color: #3b3e52;
    border: 1px solid #4f5472;
    box-sizing: border-box;
    font-size: 14px;
}
.dp__input_icon {
    width: 20px;
    height: 20px;
}

.dp__arrow_top {
    display: none;
}
.dp__menu_inner > div {
    border: 2px solid #3b3e52;
}
.dp__today {
    background: #5f6796;
    color: var(--dp-text-color);
    border: none;
}
.dp__date_hover_start:hover {
    background-color: var(--dp-primary-color);
    color: var(--dp-primary-text-color);
}
.dp__date_hover_end:hover {
    background-color: var(--dp-primary-color);
    color: var(--dp-primary-text-color);
}
.dp__calendar_item.db__range_start {
    background-color: red;
}
.dp__calendar_header {
    margin: 18px 0 12px 0;
}
.dp__calendar_header_item {
    height: 14px;
    align-items: center;
}

.dp__btn {
    background: #5f6796;
    color: var(--dp-text-color);
    font-size: var(--dp-preview-font-size);
    padding: 8px 16px;
}
.dp__month_year_wrap {
    justify-content: space-between;
}
.dp__month_year_select {
    width: auto;
}
.dp__month_year_col_nav {
    display: none;
}
.dp__overlay {
    font-size: var(--dp-preview-font-size);
    border-radius: 8px;
    width: 20%;
    height: 70%;
    overflow: hidden;
    top: 70px;
}
.dp__overlay_container {
    height: 200px;
    border: 1px solid rgb(79, 84, 114);
    border-radius: 8px;
}
.dp__overlay_cell_active {
    background: #5f6796;
    color: var(--dp-text-color);
}
.dp__overlay_row {
    display: inline-block;
}
.dp__pointer {
    font-weight: 500;
}
.dp__overlay_col {
    width: 100%;
}
.dp__overlay_cell_pad {
    padding: 6px 4px;
}

.dp__range_between {
    border: none;
}

.dp__range_between.dp__cell_offset {
    color: var(--dp-text-color);
}

button[aria-label='Open years overlay'] + .dp__overlay {
    left: 246px;
}

button[aria-label='Open months overlay'] + .dp__overlay {
    left: 25px;
}
.customDatePicker input::placeholder {
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif;
    color: rgba(154, 160, 167, 0.8) !important;
}
</style>
