<script setup lang="ts">
interface IProps {
  label?: string
  placeholder: string
  modelValue: string | number
  type?: string
}

interface IEmits {
  (e: 'update:modelValue', value: string | number): void
}

const props = defineProps<IProps>()
const emits = defineEmits<IEmits>()
const name = computed(() => props.label?.toLowerCase().replace(' ', '-'))

function updateValue(event) {
  emits('update:modelValue', (event.target as HTMLInputElement).value)
}
</script>

<template>
  <label v-if="label">{{ label }}</label>
  <input class="base-input" :name="name" :type="type || 'text'" :placeholder="placeholder" :value="modelValue" @input="updateValue">
</template>
