<script lang="ts" setup>
import {
  Listbox,
  ListboxButton,
  ListboxOption,
  ListboxOptions,
} from '@headlessui/vue'

type Size = 'small' | 'medium' | 'large'
interface IProps {
  options: Array<{ value: number | string; label: string }>
  modelValue: any
  size: Size
}
interface IEmits {
  (e: 'update:model-value', modelValue: any): void
}
const props = defineProps<IProps>()
const emits = defineEmits<IEmits>()
const selected = computed(() => props.modelValue)
</script>

<template>
  <listbox
    :model-value="selected"
    @update:modelValue="value => emits('update:model-value', value)"
  >
    <listbox-button>
      <slot name="icon" />
      {{ selected.label }}
    </listbox-button>
    <listbox-options>
      <listbox-option
        v-for="(option, index) in options"
        :key="index"
        :value="option"
      >
        {{ option.label }}
      </listbox-option>
    </listbox-options>
  </listbox>
</template>
