<script lang="ts" setup>
interface Tab {
  index: number
  name: string
  isDisabled: boolean
}
type Size = 'small' | 'medium' | 'large'
interface IProps {
  tabs: Array<Tab>
  selectedIndex: number
  size?: Size
}
interface IEmits {
  (e: 'update:selected-index', index: number): void
}

const props = defineProps<IProps>()
const emits = defineEmits<IEmits>()
</script>

<template>
  <ul class="tabs-header">
    <li v-for="(tab, index) in tabs" :key="index" class="tab" :class="{ active: selectedIndex === index, disabled: tab.isDisabled }" @click="emits('update:selected-index', index)">
      {{ tab.name }}
    </li>
  </ul>
</template>

<style lang="scss" scoped>
.tabs-header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #E2E2E2;
  .tab {
    color: #878A96;
    font-size: 16px;
    text-align: center;
    padding: 8px 4px;
    margin: 0 8px;
    box-sizing: border-box;
  }
  .tab.active {
    color: #323F4B;
    border-bottom: 4px solid #7B84A7;
  }
  .tab.disabled {
    pointer-events: none;
  }
  .tab:hover {
    color: #323F4B;
  }
}
</style>
