<script setup lang="ts">
import { useField } from 'vee-validate'

interface IProps {
  label?: string
  placeholder: string
  name: string
  type?: string
}

const props = defineProps<IProps>()
const { value, errorMessage } = useField(() => props.name)
</script>

<template>
  <label v-if="label">{{ label }}</label>
  <div class="input-container">
    <slot name="left-icon" />
    <input v-model="value" class="base-input" :name="name" :type="type || 'text'" :placeholder="placeholder">
    <slot name="right-icon" />
  </div>

  <p v-if="errorMessage" class="tw-text-danger">
    {{ errorMessage }}
  </p>
</template>
