<script lang="ts" setup>
import { useForm } from 'vee-validate'
import * as yup from 'yup'

const loginFormSchema = yup.object({
  email: yup.string().email().required(),
  password: yup.string().required().min(6),
})
const { values, submitForm } = useForm({ validationSchema: loginFormSchema })

function onsubmit() {
  submitForm()
}
</script>

<template>
  <div>
    <div class="tw-w-[400px] tw-mt-2 tw-ml-2">
      <base-vee-input name="email" placeholder="Enter your email" label="Email Address">
        <template #left-icon>
          <svg-icon name="calendar" class="input-left-icon" />
        </template>
        <template #right-icon>
          <svg-icon name="calendar" class="input-right-icon" />
        </template>
      </base-vee-input>
    </div>
    <div class="tw-w-[400px] tw-mt-2 tw-ml-2">
      <base-vee-input name="password" placeholder="Enter your password" label="Password" />
    </div>
    <button @click="onsubmit()">
      Submit
    </button>
  </div>
</template>
