<script lang="ts" setup>
const runtimeConfig = useRuntimeConfig()
const timeRange = ref(['', ''])
const inputValue = ref('')
const tabs = [
  {
    index: 0,
    name: 'Accounts',
    isDisabled: false,
  },
  {
    index: 1,
    name: 'Usage',
    isDisabled: false,
  },
  {
    index: 2,
    name: 'Function setting',
    isDisabled: true,
  },
]
const selectedIndex = ref(0)

function updateSelectedIndex(index: number): void {
  selectedIndex.value = index
}

const selectOptions = [
  { value: 1, label: 'Durward Reynolds' },
  { value: 2, label: 'Kenton Towne' },
  { value: 3, label: 'Therese Wunsch' },
  { value: 4, label: 'Benedict Kessler' },
  { value: 5, label: 'Katelyn Rohan' },
]
const valueSelect = ref({ value: 1, label: 'Durward Reynolds' })
</script>

<template>
  {{ $t('welcome') }}
  <br>
  <base-date-picker :time-range="timeRange" />
  <br>
  <div class="tw-w-[400px] tw-mt-2 tw-ml-2">
    <base-input v-model="inputValue" label="Input" placeholder="This is a input" />
  </div>
  <br>
  <base-tabs :tabs="tabs" :selected-index="selectedIndex" @update:selected-index="updateSelectedIndex" />
  <br>

  <div>
    <base-collapse>
      <template #title>
        Toggle first element
      </template>
      <template #content>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident.
      </template>
    </base-collapse>
    <base-collapse>
      <template #title>
        Toggle first element
      </template>
      <template #content>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident.
      </template>
    </base-collapse>
    <base-collapse>
      <template #title>
        Toggle first element
      </template>
      <template #content>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
        richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
        cred nesciunt sapiente ea proident.
      </template>
    </base-collapse>
  </div>

  <br>
  <base-select :model-value="valueSelect" :options="selectOptions" @update:model-value="(value) => { valueSelect = value }" />
</template>
